{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<header id="home">
    <section class="hero" id="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-right navicon">
                    <a id="nav-toggle" href=""><span></span></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="/"><img class="logo" src="/img/logo.png" alt="logo"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 inner">
                    <section class="cd-intro">
                        <h1 class="animated fadeInDown cd-headline loading-bar">
                            <span>Build it</span>
                            <span class="cd-words-wrapper">
                                <b class="is-visible">with us</b>
                                <b>modern</b>
                                <b>to inspire</b>
                                <b>on-time</b>
                                <b>to last</b>
                                <b>with pride</b>
                                <b>secure</b>
                                <b>to scale</b>
                            </span>
                        </h1>
                    </section>
                    <a href="/our-projects">
                        <p class="animated fadeInUp delay-05s">SEE OUR WORK</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
</header>
<section class="intro text-center section-padding" id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 wp1">
                <h1 class="arrow">WE BUILD ONLINE BUSINESSES</h1>
                <p>We are a group of Chicago-based experts in design & technology, dedicated to creating high-quality, strategic
                    websites that bring real value to you and your organization. Whether you need a place to showcase your
                    craft, launch a startup, or improve your online presence – we have the expertise to do it right.
                    <br>
                    <br> We know that your business is one-of-a-kind. Let’s build a website to match.
                </p>
            </div>
        </div>
    </div>
</section>
<div class="ignite-cta text-center" id="quote">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>It‘s Time to get Responsive</h1>
                <a href="/work-with-us" class="ignite-btn">GET A QUOTE</a>
            </div>
        </div>
    </div>
</div>
<section class="features text-center section-padding" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--<h1 class="arrow">Love what you do, and you'll do it well</h1>-->
                <div class="features-wrapper">
                    <div class="col-md-4 wp2">
                        <div class="icon">
                            <!--<i class="fa fa-laptop shadow"></i>--><img src="/img/icon2.png" alt="">
                        </div>
                        <h2>Web Design</h2>
                        <p>
                            Today, good visual design is expected, and is the first step to a great Website. At Agia, we work to create designs that
                            delivers a consistent identity experience to your audience. Both offline, and on.
                        </p>
                    </div>
                    <div class="col-md-4 wp2 delay-05s">
                        <div class="icon">
                            <!--<i class="fa fa-code shadow"></i>--><img src="/img/icon1.png" alt="">
                        </div>
                        <h2>Web Development</h2>
                        <p>
                            Need assistance on an existing project, or realizing a design for your site or web-app? Our team will work with you to
                            implement your idea, and bring it to life on-time and without breaking the bank.
                        </p>
                    </div>
                    <div class="col-md-4 wp2 delay-1s">
                        <div class="icon">
                            <!--<i class="fa fa-heart shadow"></i>--><img src="/img/icon3.png" alt="">
                        </div>
                        <h2>Hosting</h2>
                        <p>
                            We work hard to ensure we can provide our clients with full-service Web solutions, no matter the need. This is why we offer
                            highly available & dependable hosting, backed by a 99.95% SLA for every Website we host.
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="text-center" id="responsive">
    <div class="container-fluid nopadding responsive-services">
        <div class="wrapper">
            <a href="/work-with-us">
                <div class="iphone">
                    <div class="wp3-work">
                        <h1>work <br>with us</h1>
                        <p>Get a quote today</p>
                    </div>
                </div>
            </a>
            <a href="/our-projects">
                <div class="fluid-white our-projects">
                    <h1>our <br>projects</h1>
                    <p>See our latest and greatest</p>
                </div>
            </a>
        </div>
    </div>
    </div>
</section>
<!--<section class="team text-center brend-padding" id="team">
    <div class="container">
        <div class="row">
            <div class="team-wrapper">
                <div id="teamSlider">
                    <div class="flex-viewport" style="overflow: hidden; position: relative;">
                        <ul class="slides" style="width: 800%; transition-duration: 0s; transform: translate3d(-2340px, 0px, 0px);">
                            <li class="clone" style="float: left; display: block; width: 1170px;">
                                <div class="col-md-2 col-xs-6 wp5">
                                    <img src="/img/itflogo.jpg" alt="Illinois Technology Foundation logo">
                                </div>
                                <div class="col-md-2 col-xs-6 wp5">
                                    <img src="/img/cpslogo.jpg" alt="Chicago Public Schools logo">
                                </div>
                                <div class="col-md-2 col-xs-6 wp5">
                                    <img src="/img/tsrlogo.jpg" alt="The Sondheim Review logo">
                                </div>
                            </li>
                            <li class="clone" style="float: left; display: block; width: 1170px;">
                                <div class="col-md-2 col-xs-6 wp5">
                                    <img src="/img/dgfashionlifelogo.jpg" alt="DG Fashion Life logo">
                                </div>
                                <div class="col-md-2 col-xs-6 wp5">
                                    <img src="/img/crlogo.jpg" alt="Chicago Rises logo">
                                </div>
                                <div class="col-md-2 col-xs-6 wp5">
                                    <img src="/img/sapphirenailsalonlogo.jpg" alt="Sapphire Nail Salon logo">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
</section>-->
<section class="dark-bg text-center contact-wrap" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="arrow">we‘re never far</h1>
            </div>
        </div>
        <div class="row contact-details">
            <div class="col-md-4">
                <a target="_blank" href="https://www.google.com/maps/dir//3342+N+Halsted+St,+Chicago,+IL+60657/@41.9424119,-87.6549524,15.5z/data=!4m13!1m4!3m3!1s0x880fd3afa1638505:0xa9d18216e1fac6ee!2s3342+N+Halsted+St,+Chicago,+IL+60657!3b1!4m7!1m0!1m5!1m1!1s0x880fd3afa1638505:0xa9d18216e1fac6ee!2m2!1d-87.6497035!2d41.9430668">
                    <div class="light-box box-hover">
                        <h2><i class="fa fa-map-marker"></i><span>Address</span></h2>
                        <p>3342 N. Halsted St.</p>
                </a>
                </div>
            </div>
            <div class="col-md-4">
                <a href="tel:+12242362442">
                    <div class="light-box box-hover">
                        <h2><i class="fa fa-mobile"></i><span>Phone</span></h2>
                        <p>224.236.2442</p>
                </a>
                </div>
            </div>

            <div class="col-md-4">
                <a class="typeform-share" href="https://agia.typeform.com/to/zizQXj" data-mode="2" target="_blank">
                    <div class="light-box box-hover">
                        <h2><i class="fa fa-paper-plane"></i><span>Email</span></h2>
                        <p>info@agia.io</p>
                </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<div id="popup">
    <section class="topline-form">
        <a class="form-logo" href="/"><img src="/img/logo-black.png" alt=""></a>
        <a class="form-fancybox-close">×</a>
    </section>
    <section class="work-with-us-form">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <form method="post" enctype="multipart/form-data" id="contact-form">
                        <div class="col-md-6">
                            <label class="form-label" for="name">NAME*</label>
                            <input name="name" id="posName" type="text" required x-autocompletetype="name">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="email">EMAIL*</label>
                            <input name="email" type="email" required x-autocompletetype="email">
                        </div>
                        <div class="col-md-12">
                            <label class="form-label" for="phone">SUBJECT</label>
                            <input name="subject" type="text">
                        </div>
                        <div class="col-md-12">
                            <label class="form-label" for="info">MESSAGE</label>
                            <textarea name="info" placeholder="Tell us about you and your company..."></textarea>
                        </div>
                        <div class="col-md-12">
                            <div class="g-recaptcha" data-sitekey="6Lc-7BMTAAAAABUndIKRu7Kvvix2ryzIVfiyuYaT"></div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <span class="cancel">CANCEL</span>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <input type="submit" id="submitbutton" value="SEND">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>-->

<script>
    (function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()

</script>