{{!< default}}
<header id="home">
    <div class="projects-wrapper"></div>
    <div id="phone1" style="opacity: 0;"></div>
    <div id="phone2" style="opacity: 0;"></div>
    <div id="phone3" style="opacity: 0;"></div>
    <div id="phone4" style="opacity: 0;"></div>
    <div id="phone5" style="opacity: 0;"></div>
    <section class="projects-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-right navicon">
                    <a id="nav-toggle" href=""><span></span></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="/"><img class="logo" src="/img/logo.png" alt="logo"></a>
                </div>
            </div>
        </div>
    </section>
</header>
<section class="projects">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-2 wp1">
                <p class="projects-p">recent work</p>
                <ul>
                    <li class="li-first"><a href="https://www.sondheimreview.com/" target="_blank">The Sondheim Review</a></li>
                    <li class="li-second"><a href="http://dgfashionlife.com/" target="_blank">DG Fashion Life</a></li>
                    <li class="li-third"><a href="http://chicagorises.org/" target="_blank">Chicago Rises</a></li>
                    <li class="li-fourth"><a href="http://sapphirenailsalon.com/" target="_blank">Sapphire Nail Salon</a></li>
                    <!--<li class="li-fifth"><a href="#" target="_blank">Belarusian Potash Company</a></li>-->
                </ul>
            </div>
        </div>
    </div>
</section>

<style>
    footer {
        display: none;
    }
    .nav-container {
        -webkit-transform: none;
        transform: none;
    }
</style>